
<form 
  class="card" 
  [formGroup]="editForm" 
  *ngIf="editMode" 
  (ngSubmit)="onSubmit()">

  <strong>{{movie.originalTitle}}</strong>
  <br>
  <input 
      type="text"
      formControlName="startYear"
      [value]="movie.startYear">


    <input 
      type="text"
      formControlName="genres"
      [value]="movie.genres">

      <br>

      <button (click)="editMode=false">Cancel</button>
      <button [disabled]="!editForm.controls.startYear.dirty && !editForm.controls.genres.dirty " type="submit">Save</button>

</form>

<div class="card" *ngIf="!editMode" (click)="editMode=true">
  <strong>{{movie.originalTitle}}</strong>
  <br>
  <em>
    {{movie.startYear}}
  </em>
  <br>
  {{movie.genres}}

  <p class="success" *ngIf="wellSaved">Success !</p>
</div>

