.card {
    width: 15%;
    border: 1px solid black;
    display: inline-block;
    margin: 20px;
    padding: 10px;
}

.card:hover {
    background-color: #1f54ca;
    cursor: pointer;
    color: white;
}

input {
    margin: 5px;
}

form button {
    margin: 10px;
}