<form [formGroup]="searchForm">
  <input 
    type="text" 
    placeholder="ex: The Sprinkler Sprinkled" 
    formControlName="title"
    (input)="onChange($event.target.value)">

  <br>
  <input 
    type="text"
    placeholder="ex: 1896" 
    formControlName="startYear"
    (input)="onChange($event.target.value)">
</form>

<app-card *ngFor="let movie of movies" [movie]="movie" (movieEdit)="onEdit($event)"></app-card>

<div class="nothing" *ngIf="movies && movies.length == 0">
  No results found
</div>